/* --------------------------------------------- */
/* ▼モバイルファースト iPhone5相当 (全環境に共通のデザイン) */
/* --------------------------------------------- */
#preloader {
  display: none;
}

.background-particles canvas{
  display: inline-flex;
}

.orig-jumbotron .title-cursor {
  font-size: 40px;
  vertical-align: 1%;
}


/* --------------------------------------------- */
/* ▼iPhone6相当 (やや高解像度スマホに共通のデザイン) */
/* --------------------------------------------- */
@media all and (min-width: 375px) {
  .orig-jumbotron .content-one {
    top: 40%;
  }
  .orig-jumbotron .content-two {
    top: 76%;
  }
  .orig-jumbotron .content .typewriter {
    font-size: 50px;
  }
}

/* --------------------------------------------- */
/* ▼iPhone6plus相当 (高解像度スマホに共通のデザイン) */
/* --------------------------------------------- */
@media all and (min-width: 412px) {
  .orig-jumbotron .content .typewriter {
    font-size: 67px;
  }
  .orig-jumbotron .title-cursor {
    font-size: 60px;
    vertical-align: 2%;
  }
}

/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media all and (min-width: 768px) {
  .orig-jumbotron {
    height: 70vh;
    min-height: 500px;
  }
  .orig-jumbotron .content{
    width: 750px;
    padding: 0 25px;
  }
  .orig-jumbotron .title-cursor {
    font-size: 60px;
    vertical-align: 2%;
  }
  .orig-jumbotron .content .event-date {
    width: 335px;
    height: 35px;
  }
  .orig-jumbotron .content-one {
    top: 50%;
  }
  .orig-jumbotron .content-two {
    top: 85%;
  }
}
/* ------------------------------------ */
/* ▼PC（小）用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media all and (min-width: 920px) {
  .orig-jumbotron {
    height: 100vh;
    min-height: 500px;
  }
  .orig-jumbotron .content{
    width: 970px;
  }
  .orig-jumbotron .content-two {
    top: 74%;
  }
  .orig-jumbotron .title-cursor {
    font-size: 80px;
    vertical-align: 8%;
  }
  .event-share-nav {
    margin-top: 30px;
  }
}
/* ------------------------------------ */
/* ▼PC（大）用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media all and (min-width: 1200px) {
  .orig-jumbotron .content{
    width: 1170px;
    padding: 0;
  }
  .orig-jumbotron .content-two {
    padding: 0 10px;
  }
  .orig-jumbotron .content-one {
    top: 52%;
  }
  .orig-jumbotron .content-two {
    top: 80%;
  }
  .orig-jumbotron .content .typewriter {
    font-size: 80px;
  }
  .orig-jumbotron .content .event-date {
    width: 382px;
    height: 43px;
    margin: 10px 0 16px 2px;
  }
}

/* Medium(md)以下デザインで有効なスタイル */
@media all and (max-width: 992px) {
  .about-event-info {
    margin-top: 60px;
  }
}