<header class="header">
  <!-- Navigation -->
  <nav class="navbar main-menu" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="/">
          <svg class="navbar-brand-svg">
            <use xlink:href="#logo" />
          </svg>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/#section-faq-position">初めて参加される方へ</a></li>
          <li><a href="/sponsorship/">スポンサー募集</a></li>
          <li><a href="/sponsorevents/">スポンサーイベント</a></li>
          <li><a href="/about/">ABOUT</a></li>
          <li><a href="/team/">TEAM</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- .nav -->

</header>
