<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="at-user">
    <div class="at-user__avatar"><img src="{{ page.member_image }}" /></div>
    <div class="at-user__name">{{ page.member_name_en }}</div>
    <div class="at-user__name_jp">{{ page.member_name_ja }}</div>
    <div class="at-user__sns-items">
      <a href="{{ page.member_x }}" target="_blank" class="at-user__sns-item">
        <img src="/img/logo_x.png" class="at-user__sns-item_x" />
      </a>
      <a href="{{ page.member_facebook }}" target="_blank" class="at-user__sns-item">
        <img src="/img/logo_facebook.png" class="at-user__sns-item_facebook" />
      </a>
      <a href="{{ page.member_github }}" target="_blank" class="at-user__sns-item">
        <img src="/img/logo_github.png" class="at-user__sns-item_github" />
      </a>
    </div>
    <div class="at-user__bio">
      {{ page.member_description }}
    </div>
  </div>
</div>
